USE [master]
GO
/****** Object:  Database [petfoster]    Script Date: 10/7/2023 10:05:12 AM ******/
CREATE DATABASE [petfoster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'petfoster', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\petfoster.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'petfoster_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\petfoster_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [petfoster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [petfoster]
GO
/****** Object:  Table [dbo].[adopt]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adopt](
	[adopt_id] [int] IDENTITY(1,1) NOT NULL,
	[adopt_at] [datetime2](7) NULL,
	[register_at] [datetime2](7) NULL,
	[status] [varchar](255) NULL,
	[pet_id] [varchar](255) NULL,
	[user_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[adopt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_item]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[cart_id] [int] NULL,
	[product_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donate]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descriptions] [varchar](255) NULL,
	[donate_amount] [float] NULL,
	[donate_at] [datetime2](7) NULL,
	[donater] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorite]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [varchar](255) NULL,
	[user_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imgs]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imgs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_img] [varchar](255) NULL,
	[pet_pet_id] [varchar](255) NULL,
	[product_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[total] [float] NULL,
	[order_id] [int] NULL,
	[product_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_at] [datetime2](7) NULL,
	[descriptions] [varchar](255) NULL,
	[total] [float] NULL,
	[shipping_info_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet](
	[pet_id] [varchar](255) NOT NULL,
	[adopt_status] [varchar](255) NULL,
	[age] [varchar](255) NULL,
	[create_at] [datetime2](7) NULL,
	[descriptions] [varchar](255) NULL,
	[foster_at] [datetime2](7) NULL,
	[is_spay] [bit] NULL,
	[pet_color] [varchar](255) NULL,
	[pet_name] [varchar](255) NULL,
	[sex] [bit] NULL,
	[breed_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet_breed]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet_breed](
	[breed_id] [varchar](255) NOT NULL,
	[breed_name] [varchar](255) NULL,
	[type_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[breed_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet_type]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet_type](
	[type_id] [varchar](255) NOT NULL,
	[type_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [varchar](255) NOT NULL,
	[product_desc] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[product_name] [varchar](255) NULL,
	[type_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_repo]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_repo](
	[product_repo_id] [int] IDENTITY(1,1) NOT NULL,
	[in_price] [float] NULL,
	[in_stock] [bit] NULL,
	[out_price] [float] NULL,
	[quantity] [int] NULL,
	[size] [int] NULL,
	[product_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_repo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_type]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_type](
	[product_type_id] [varchar](255) NOT NULL,
	[product_type_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping_info]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[full_name] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[user_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/7/2023 10:05:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [varchar](255) NOT NULL,
	[address] [varchar](255) NULL,
	[avatar] [varchar](255) NULL,
	[birthday] [datetime2](7) NULL,
	[create_at] [datetime2](7) NULL,
	[email] [varchar](255) NULL,
	[fullname] [varchar](255) NULL,
	[gender] [bit] NULL,
	[is_active] [bit] NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[adopt] ON 

INSERT [dbo].[adopt] ([adopt_id], [adopt_at], [register_at], [status], [pet_id], [user_id]) VALUES (1, CAST(N'2023-10-07T00:00:00.0000000' AS DateTime2), CAST(N'2023-09-07T00:00:00.0000000' AS DateTime2), N'Adopted', N'P0031', N'user0001')
INSERT [dbo].[adopt] ([adopt_id], [adopt_at], [register_at], [status], [pet_id], [user_id]) VALUES (2, CAST(N'2023-10-07T00:00:00.0000000' AS DateTime2), CAST(N'2023-09-07T00:00:00.0000000' AS DateTime2), N'Adopted', N'P0032', N'user0002')
INSERT [dbo].[adopt] ([adopt_id], [adopt_at], [register_at], [status], [pet_id], [user_id]) VALUES (3, CAST(N'2023-10-07T00:00:00.0000000' AS DateTime2), CAST(N'2023-09-07T00:00:00.0000000' AS DateTime2), N'Adopted', N'P0033', N'user0003')
SET IDENTITY_INSERT [dbo].[adopt] OFF
GO
SET IDENTITY_INSERT [dbo].[cart_item] ON 

INSERT [dbo].[cart_item] ([id], [quantity], [cart_id], [product_id]) VALUES (2, 1, 1, N'PD0010')
INSERT [dbo].[cart_item] ([id], [quantity], [cart_id], [product_id]) VALUES (3, 2, 1, N'PD0011')
INSERT [dbo].[cart_item] ([id], [quantity], [cart_id], [product_id]) VALUES (4, 2, 1, N'PD0012')
SET IDENTITY_INSERT [dbo].[cart_item] OFF
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([card_id], [user_id]) VALUES (1, N'user0001')
INSERT [dbo].[carts] ([card_id], [user_id]) VALUES (2, N'user0002')
INSERT [dbo].[carts] ([card_id], [user_id]) VALUES (3, N'user0003')
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[donate] ON 

INSERT [dbo].[donate] ([id], [descriptions], [donate_amount], [donate_at], [donater]) VALUES (1, N'Donate for Mimi', 2000000, CAST(N'2023-10-06T00:00:00.0000000' AS DateTime2), N'Tran Anh Huy')
INSERT [dbo].[donate] ([id], [descriptions], [donate_amount], [donate_at], [donater]) VALUES (2, N'Donate for Susu', 1000000, CAST(N'2023-12-06T00:00:00.0000000' AS DateTime2), N'Thai Kim Tung')
INSERT [dbo].[donate] ([id], [descriptions], [donate_amount], [donate_at], [donater]) VALUES (3, N'Donate for Vang', 250000, CAST(N'2021-11-06T00:00:00.0000000' AS DateTime2), N'Nguyen Anh Nghia')
SET IDENTITY_INSERT [dbo].[donate] OFF
GO
SET IDENTITY_INSERT [dbo].[favorite] ON 

INSERT [dbo].[favorite] ([id], [pet_id], [user_id]) VALUES (2, N'P0001', N'user0001')
INSERT [dbo].[favorite] ([id], [pet_id], [user_id]) VALUES (3, N'P0001', N'user0002')
INSERT [dbo].[favorite] ([id], [pet_id], [user_id]) VALUES (4, N'P0001', N'user0003')
SET IDENTITY_INSERT [dbo].[favorite] OFF
GO
SET IDENTITY_INSERT [dbo].[imgs] ON 

INSERT [dbo].[imgs] ([id], [name_img], [pet_pet_id], [product_id]) VALUES (6, N'imgpet0001.jpg', N'P0001', NULL)
INSERT [dbo].[imgs] ([id], [name_img], [pet_pet_id], [product_id]) VALUES (7, N'imgpet0002.jpg', N'P0002', NULL)
INSERT [dbo].[imgs] ([id], [name_img], [pet_pet_id], [product_id]) VALUES (8, N'imgpet0003.jpg', N'P0003', NULL)
SET IDENTITY_INSERT [dbo].[imgs] OFF
GO
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([id], [quantity], [total], [order_id], [product_id]) VALUES (1, 1, 250000, 1, N'PD0001')
INSERT [dbo].[order_detail] ([id], [quantity], [total], [order_id], [product_id]) VALUES (3, 2, 200000, 121, N'PD0002')
INSERT [dbo].[order_detail] ([id], [quantity], [total], [order_id], [product_id]) VALUES (4, 2, 200000, 121, N'PD0003')
SET IDENTITY_INSERT [dbo].[order_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [create_at], [descriptions], [total], [shipping_info_id]) VALUES (1, CAST(N'2023-10-07T00:00:00.0000000' AS DateTime2), NULL, 250000, 1)
INSERT [dbo].[orders] ([id], [create_at], [descriptions], [total], [shipping_info_id]) VALUES (121, CAST(N'2023-10-06T00:00:00.0000000' AS DateTime2), NULL, 400000, 2)
INSERT [dbo].[orders] ([id], [create_at], [descriptions], [total], [shipping_info_id]) VALUES (122, CAST(N'2023-10-05T00:00:00.0000000' AS DateTime2), NULL, 350000, 3)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
INSERT [dbo].[pet] ([pet_id], [adopt_status], [age], [create_at], [descriptions], [foster_at], [is_spay], [pet_color], [pet_name], [sex], [breed_id]) VALUES (N'P0001', N'Haven''t adopted yet.', N'Adult ', CAST(N'2022-10-07T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2023-10-06T00:00:00.0000000' AS DateTime2), 0, N'Brown', N'Mimi', 1, N'ND001')
INSERT [dbo].[pet] ([pet_id], [adopt_status], [age], [create_at], [descriptions], [foster_at], [is_spay], [pet_color], [pet_name], [sex], [breed_id]) VALUES (N'P0002', N'Haven''t adopted yet', N'Adult ', CAST(N'2023-09-07T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2023-09-06T00:00:00.0000000' AS DateTime2), 1, N'Yellow', N'Dodo', 0, N'BS001')
INSERT [dbo].[pet] ([pet_id], [adopt_status], [age], [create_at], [descriptions], [foster_at], [is_spay], [pet_color], [pet_name], [sex], [breed_id]) VALUES (N'P0003', N'Haven''t adopted yet', N'Adult ', CAST(N'2023-08-07T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2023-08-06T00:00:00.0000000' AS DateTime2), 0, N'Yellow', N'Baba', 0, N'BL001')
GO
INSERT [dbo].[pet_breed] ([breed_id], [breed_name], [type_id]) VALUES (N'AC001', N'Abyssinian cat', N'C001')
INSERT [dbo].[pet_breed] ([breed_id], [breed_name], [type_id]) VALUES (N'BC001', N'Bengal cat ', N'C001')
INSERT [dbo].[pet_breed] ([breed_id], [breed_name], [type_id]) VALUES (N'BL001', N'British longhair', N'C001')
GO
INSERT [dbo].[pet_type] ([type_id], [type_name]) VALUES (N'B001', N'Bird')
INSERT [dbo].[pet_type] ([type_id], [type_name]) VALUES (N'C001', N'Cat')
INSERT [dbo].[pet_type] ([type_id], [type_name]) VALUES (N'D001', N'Dog')
GO
INSERT [dbo].[product] ([product_id], [product_desc], [is_active], [product_name], [type_id]) VALUES (N'PD0001', N' Made from real fish.', 1, N'ME-O Tuna In Jelly', N'CF001')
INSERT [dbo].[product] ([product_id], [product_desc], [is_active], [product_name], [type_id]) VALUES (N'PD0002', N' Made from real fish.', 1, N'ME-O DELITE TUNA IN JELLY', N'CF001')
INSERT [dbo].[product] ([product_id], [product_desc], [is_active], [product_name], [type_id]) VALUES (N'PD0003', N' Made from real fish.', 1, N'ME-O GOLD PERSIAN', N'CF001')
GO
SET IDENTITY_INSERT [dbo].[product_repo] ON 

INSERT [dbo].[product_repo] ([product_repo_id], [in_price], [in_stock], [out_price], [quantity], [size], [product_id]) VALUES (2, 130000, 1, 250000, 20, 1, N'PD0001')
INSERT [dbo].[product_repo] ([product_repo_id], [in_price], [in_stock], [out_price], [quantity], [size], [product_id]) VALUES (3, 100000, 1, 125000, 50, 2, N'PD0002')
INSERT [dbo].[product_repo] ([product_repo_id], [in_price], [in_stock], [out_price], [quantity], [size], [product_id]) VALUES (4, 90000, 1, 120000, 100, 1, N'PD0003')
SET IDENTITY_INSERT [dbo].[product_repo] OFF
GO
INSERT [dbo].[product_type] ([product_type_id], [product_type_name]) VALUES (N'BF001', N'Bird food')
INSERT [dbo].[product_type] ([product_type_id], [product_type_name]) VALUES (N'CF001', N'Cat food')
INSERT [dbo].[product_type] ([product_type_id], [product_type_name]) VALUES (N'DF001', N'Dog food')
GO
SET IDENTITY_INSERT [dbo].[shipping_info] ON 

INSERT [dbo].[shipping_info] ([id], [address], [full_name], [phone], [user_id]) VALUES (1, N'Can Tho', N'Tran Anh Huy', N'0123456789', N'user0001')
INSERT [dbo].[shipping_info] ([id], [address], [full_name], [phone], [user_id]) VALUES (2, N'Can Tho', N'Tran Anh Huy', N'0123456789', N'user0001')
INSERT [dbo].[shipping_info] ([id], [address], [full_name], [phone], [user_id]) VALUES (3, N'Can Tho', N'Tran Anh Huy', N'0123456789', N'user0001')
SET IDENTITY_INSERT [dbo].[shipping_info] OFF
GO
INSERT [dbo].[users] ([user_id], [address], [avatar], [birthday], [create_at], [email], [fullname], [gender], [is_active], [password], [phone], [role], [username]) VALUES (N'admin001', N'Can Tho', N'avataradmin001.jpg', CAST(N'2000-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2019-10-07T00:00:00.0000000' AS DateTime2), N'admin001@gmail.com', N'Nguyen Thi Lam Ha', 1, 1, N'123', N'0123456789', N'1', N'Hantl001')
INSERT [dbo].[users] ([user_id], [address], [avatar], [birthday], [create_at], [email], [fullname], [gender], [is_active], [password], [phone], [role], [username]) VALUES (N'user0001', N'Can Tho', N'avatar0001.jpg', CAST(N'1999-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-10-07T00:00:00.0000000' AS DateTime2), N'user001@gmail.com', N'Tran Anh Huy', 1, 1, N'123', N'0123456789', N'0', N'Huyta001')
INSERT [dbo].[users] ([user_id], [address], [avatar], [birthday], [create_at], [email], [fullname], [gender], [is_active], [password], [phone], [role], [username]) VALUES (N'user0002', N'Can Tho', N'avatar0002.jpg', CAST(N'2001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-10-05T00:00:00.0000000' AS DateTime2), N'user002@gmail.com', N'Vo Vu Truong Giang', 1, 1, N'123', N'0123456789', N'0', N'Giangvvt001')
GO
ALTER TABLE [dbo].[adopt]  WITH CHECK ADD  CONSTRAINT [FKfxjyhqtn4y0x8j5cvoojv8xgn] FOREIGN KEY([pet_id])
REFERENCES [dbo].[pet] ([pet_id])
GO
ALTER TABLE [dbo].[adopt] CHECK CONSTRAINT [FKfxjyhqtn4y0x8j5cvoojv8xgn]
GO
ALTER TABLE [dbo].[adopt]  WITH CHECK ADD  CONSTRAINT [FKnux0ry9kbu4uq290t1pbd64sx] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[adopt] CHECK CONSTRAINT [FKnux0ry9kbu4uq290t1pbd64sx]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FKjcyd5wv4igqnw413rgxbfu4nv] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FKjcyd5wv4igqnw413rgxbfu4nv]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FKlqwuo55w1gm4779xcu3t4wnrd] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([card_id])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FKlqwuo55w1gm4779xcu3t4wnrd]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop]
GO
ALTER TABLE [dbo].[favorite]  WITH CHECK ADD  CONSTRAINT [FKa2lwa7bjrnbti5v12mga2et1y] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[favorite] CHECK CONSTRAINT [FKa2lwa7bjrnbti5v12mga2et1y]
GO
ALTER TABLE [dbo].[favorite]  WITH CHECK ADD  CONSTRAINT [FKfcbqhey8aaypcl38aumjxoo1r] FOREIGN KEY([pet_id])
REFERENCES [dbo].[pet] ([pet_id])
GO
ALTER TABLE [dbo].[favorite] CHECK CONSTRAINT [FKfcbqhey8aaypcl38aumjxoo1r]
GO
ALTER TABLE [dbo].[imgs]  WITH CHECK ADD  CONSTRAINT [FKdgcqx3ob7knxb8bk07gjq3liq] FOREIGN KEY([pet_pet_id])
REFERENCES [dbo].[pet] ([pet_id])
GO
ALTER TABLE [dbo].[imgs] CHECK CONSTRAINT [FKdgcqx3ob7knxb8bk07gjq3liq]
GO
ALTER TABLE [dbo].[imgs]  WITH CHECK ADD  CONSTRAINT [FKrfp4668jvev5qivrkn5wukarp] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[imgs] CHECK CONSTRAINT [FKrfp4668jvev5qivrkn5wukarp]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FKb8bg2bkty0oksa3wiq5mp5qnc] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FKb8bg2bkty0oksa3wiq5mp5qnc]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKrvd32bftxff2tuj4ka0mt6m86] FOREIGN KEY([shipping_info_id])
REFERENCES [dbo].[shipping_info] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKrvd32bftxff2tuj4ka0mt6m86]
GO
ALTER TABLE [dbo].[pet]  WITH CHECK ADD  CONSTRAINT [FK9u4gps42602t8n0xelpsjq3j7] FOREIGN KEY([breed_id])
REFERENCES [dbo].[pet_breed] ([breed_id])
GO
ALTER TABLE [dbo].[pet] CHECK CONSTRAINT [FK9u4gps42602t8n0xelpsjq3j7]
GO
ALTER TABLE [dbo].[pet_breed]  WITH CHECK ADD  CONSTRAINT [FK3mxu9mx8i6mu6h5goj1oe6fnx] FOREIGN KEY([type_id])
REFERENCES [dbo].[pet_type] ([type_id])
GO
ALTER TABLE [dbo].[pet_breed] CHECK CONSTRAINT [FK3mxu9mx8i6mu6h5goj1oe6fnx]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FKajjopj7ffr42w11bav8gut0cp] FOREIGN KEY([type_id])
REFERENCES [dbo].[product_type] ([product_type_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FKajjopj7ffr42w11bav8gut0cp]
GO
ALTER TABLE [dbo].[product_repo]  WITH CHECK ADD  CONSTRAINT [FKfjicl5fnhwa8ji0d7cbxaxefb] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_repo] CHECK CONSTRAINT [FKfjicl5fnhwa8ji0d7cbxaxefb]
GO
ALTER TABLE [dbo].[shipping_info]  WITH CHECK ADD  CONSTRAINT [FKokw6bplftwitsoh1utl05eyk8] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[shipping_info] CHECK CONSTRAINT [FKokw6bplftwitsoh1utl05eyk8]
GO
USE [master]
GO
